<div class="header" style="margin-top:19px;">
	<div class="pull-right menu-items">
		<div class="btn-group">
		  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    	Show me <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		  		<li><a href="#" {{action "clickShowAllSongs"}}>All Songs</a></li>
		  		<li><a href="#" {{action "clickShowPlays"}}>Just Plays</a></li>
		    	<li><a href="#" {{action "clickShowNays"}}>Just Nays</a></li>
		  	</ul>
		</div>
		<button type="button" class="btn btn-default">Print</button>
	</div>
	<h3 class="pb0">See what your guests picked</h3>
	<p>Here's a list of what your guests requested, thumbs up or veto them</p>

	{{#each playlists}}
		<div class="row text-center">
			{{#each songs itemController="song"}}
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<div class="song-choice">
						<span {{bind-attr class="score"}}>{{displayText}}</span>
						<div class="rate">
							<span class="clickable glyphicon glyphicon-music"></span> 
							&#8226; <small class="clickable" {{action "clickPlay"}}>Play</small> 
							&#8226; <small class="clickable" {{action "clickNay"}}>Nay</small> 
							&#8226; <small class="clickable" {{action "clickEitherWay"}}>Either Way</small>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>