<div class="container mt10">
	<div class="clearfix">
		<div class="pull-right">
            <span class="main-label vam">Crowd Control</span>
            <button class="btn btn-default btn-sm ml5" {{action "clickLogout"}}>Logout</button>
        </div>
		<ul class="nav nav-tabs">
            {{#each tabs itemController="tab"}}
                <li {{bind-attr class="active"}} {{action "clickSelectTab"}}><a href="#">{{name}}</a></li>
            {{/each}}
	    </ul>
	</div>
	{{render "tab" selectedTab}}
	<div class="footer">
		{{outlet "songPreview"}}
        <p>Song previews provided courtesy of iTunes</p>
		<p>&copy; Erika 2014</p>
	</div>
</div>