<div class="header" style="margin-top:19px;">
    <h3 class="pb0">Edit Songs</h3>
</div>
<div class="">
    <ol class="breadcrumb text-center mb0">
        {{#each Fixtures.letters itemController="letter"}}
            <li class="alphabet-links">
                <a href="#" {{action "clickFilterByLetter" this}}>
                    {{#if isFilter}}
                        <strong>{{model}}</strong>
                    {{else}}
                        {{model}}
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ol>
    {{#if letterFilter}}
        <button type="button" class="pull-left btn btn-xs btn-link" {{action "clickClearFilter" bubbles=false}}>
            Clear filter
        </button>
    {{/if}}
</div>

<table class="table table-hover w100">
    <thead>
        <tr>
            <th class="w25 clickable" {{action "clickSortBy" "artist"}}>Artist 
                <span {{bind-attr class=":glyphicon :glyphicon-sort-by-alphabet isSortByArtist::column-sort"}}></span>
            </th>
            <th class="w25 clickable" {{action "clickSortBy" "title"}}>Title 
                <span {{bind-attr class=":glyphicon :glyphicon-sort-by-alphabet isSortByTitle::column-sort"}}>
            </th>
            <th class="w25">Display Text</th>
            <th class="w25">Tags</th>
        </th>
    </thead>
    <tbody>
        {{#each itemController="song"}}
            <tr class="clickable-row hover-btn-cont" {{action "clickEdit" bubbles=false}}>
                {{#if isEdit}}
                    <td {{bind-attr class=":w25 artistError:has-error"}}>
                        {{select-2 value=artistEdit objectQuery="artists" tabindex="1"}}
                        <div>
                            {{#if isNew}}
                                <button type="button" class="btn btn-default mt10" {{action "clickDone" "true" bubbles=false}} data-loading-text="Loading..." tabindex="5" data-dev="new-btn">
                                    Save and New
                                </button> 
                                <button class="btn btn-default mt10" {{action "clickDone" bubbles=false}} tabindex="6" data-loading-text="Loading..." data-dev="done-btn">Done</button>
                                <button class="btn btn-default mt10" {{action "clearEdits" this bubbles=false}} tabindex="7">Cancel</button>
                                {{#if doneError}}<div class="mt10 red">{{doneError}}</div>{{/if}}
                            {{else}}
                                <button class="btn btn-default mt10" {{action "clickDone" bubbles=false}} tabindex="5">Done</button>
                                <button class="btn btn-default mt10" {{action "clickDelete" this bubbles=false}} tabindex="6">Delete</button>
                                <button class="btn btn-default mt10" {{action "clearEdits" this bubbles=false}} tabindex="7">Cancel</button>
                                {{#if doneError}}<div class="mt10 red">{{doneError}}</div>{{/if}}
                            {{/if}}
                        </div>
                    </td>
                    <td {{bind-attr class=":w25 titleError:has-error"}}>{{input class="form-control w100"type="text" value=titleEdit tabindex="2"}}</td>
                    <td {{bind-attr class=":w25 displayTextError:has-error"}}>{{input class="form-control w100"type="text" value=displayTextEdit tabindex="3"}}</td>
                    <td class="w25">{{select-2 multiple="multiple" value=tagsEdit tabindex="4"}}</td>  
                {{else}}  
                    <td class="w25"><span class="glyphicon glyphicon-trash hover-btn" {{action "clickDelete" this bubbles=false}}></span>  {{artist}}</td>
                    <td class="w25">{{title}} </td>
                    <td class="w25">{{displayText}} </td>
                    <td class="w25">{{tags}} </td>
                {{/if}}            
            </tr>
        {{/each}}
    </tbody>
</table>  

{{#unless hasNew}}
    <button type="button" class="pull-left btn btn-default" {{action "clickAdd" bubbles=false}}>
        Add Song
    </button>
{{/unless}}
<div style="padding-right:87px;">
    <ul class="pager" >
        <li {{bind-attr class="isPrevDisabled:disabled"}} {{action "clickPrevPage"}}><a href="#">Previous</a></li>
        <li {{bind-attr class="isNextDisabled:disabled"}} {{action "clickNextPage"}}><a href="#">Next</a></li>
    </ul>
</div>